@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-aeonik);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* styles/globals.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edg */
  scrollbar-width: none; /* Firefox */
}

@keyframes bounce-sequence {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.animate-bounce-first {
  animation: bounce-sequence 0.7s infinite;
  animation-delay: 0s;
}

.animate-bounce-second {
  animation: bounce-sequence 0.7s infinite;
  animation-delay: 0.8s;
}

.animate-bounce-third {
  animation: bounce-sequence 0.7s infinite;
  animation-delay: 0.16s;
}

.wallet-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 50;
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.leaderboard-text {
  color: #1f2937; /* Adjust to a darker gray or black */
}

.leaderboard-text {
  color: #1f2937; /* Adjust to a darker gray or black */
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.animate-bounce {
  animation: bounce 0.5s;
}
